.tasks-page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;
  }
}
