$main-color: #0079ff;
$main-color-hover: #60abff;
$main-shadow: 0 3px 8px #000;

/* common */
$white: #fff;
$black: #000;
$green: #36d288;
$red: #cf3e47;
$gray: #8e9494;
$gray-opacity: #92948e5b;
$bg-light: #f5f5f5;
$bg-dark: #443f3f;
$link-color: #fd6e6e;

/* status */
$high-status-bg: #ffd5d8;
$medium-status-bg: #76ece5;
$low-status-bg: #baffd6;
$high-status-text: #c00;
$medium-status-text: #2b6662;
$low-status-text: #106633;
$error-color: #f74646;

/* button */
$button-bg: #2b6662;
$button-bg-hover: #21534f;
$button-shadow-hover: #21534f3b;
$button-text: #f5f5f5;
$button-disable: #8d8d8d;

/* status */
$high-status-bg: #ffd5d8;
$medium-status-bg: #76ece5;
$low-status-bg: #baffd6;
$text-color: black;
$tab-bg: white;
$tab-border: grey;
$tab-hover: gray;
