.container {
  padding: 0 15px;
}

@media (width >= 575.98px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (width >= 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (width >= 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (width >= 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (width >= 1439.98px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1599.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (width >= 1919.98px) {
  .container {
    max-width: 1740px;
  }
}
