@import './fonts';
@import './reset';
@import './mixins/mixins';
@import './vars/index';
@import './globals';

body {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
