/* common */
$green: #36d288;
$red: #cf3e47;
$gray: #8e9494;

/* card */
$bg-task-card: #f2f2f270;

/* priority */
$high-priority-bg: #ffd5d8;
$medium-priority-bg: #76ece5;
$low-priority-bg: #baffd6;
$high-priority-text: #c00;
$medium-priority-text: #2b6662;
$low-priority-text: #01d154;

/* button */
$button-bg: #2b6662;
$button-bg-hover: #21534f;
$button-shadow-hover: #21534f3b;
$button-text: #f5f5f5;
$button-disable: #8d8d8d;
