.form-viewer {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 20px;

  &__field {
    margin-bottom: 20px;
  }
}

@media (width >= 767px) {
  .login-form {
    width: 400px;
  }
}
@media (width >= 1101px) {
  .login-form {
    width: 400px;
  }
}
@media (width >= 1601px) {
  .login-form {
    width: 600px;
  }
}
